@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Bird Project</title>
</head>

    <body oncontextmenu="return false;">
        <header>
            <a href="#" class="logo">Bird Project</a>
            <ul class="navigation">
                <li><a href="#">Home</a></li>


                <li>
                    @*<a href="quizstart.html">Quiz</a>*@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Quiz">
                        Quiz
                    </a>
                </li>


                <li>
                    @*<a href="#">Home</a>*@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">
                        Admin Page
                    </a>
                </li>


                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Glossary">
                        Glossary
                    </a>
                </li>


                <li>
                    @*<a href="#">About</a>*@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">
                        About
                    </a>
                </li>


                <li><a href="#">Sign Up</a></li>

                <li>
                    @*<a href="#"></a><button type="button" class="button1">Log In</button></a>*@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Secured">
                        <button type="button" class="button1">
                            Log In
                        </button>
                    </a>
                </li>

            </ul>
        </header>
        <div class="banner">
            <div class="content">
                <h2>Learn More</h2>
                <p>
                    Test your knowledge about birds
                    <br>by listening through their calls
                    @*<a href="Qu"><button type="button" class="button2">Take a Quiz</button></a>*@
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Quiz">
                    <button type="button" class="button2">
                        Take a Quiz
                    </button>
                    </a>
                </p>
            </div>
            <img src="~/resources/bird.png" class="image">
        </div>

        <div class="body">
            <div class="contentSignUp">
                <h1>Why Sign Up?</h1>
                <img src="./resources/award.png" class="award" width="110" height="100" style="float:left">
                <p>
                    Get certifications by passing quizzes
                    <br>and record your progress.
                </p>

            </div>
        </div>

    </body>
