<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Quiz</title>
</head>
<body>
<div class="QPage">
        <div class="content">
            <img src="~/resources/divider2.png" class="divider" width="700" height="100">
            <h2>Quiz</h2>


            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Quiz">
                <button type="button" class="buttonsopt">
                    Start
                </button>
            </a>


            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="QuizOptions">
                <button type="button" class="buttonsopt">
                    Go to Quiz Options
                </button>
            </a>


            <br><img src="~/resources/divider3.png" class="divider" width="700" height="100" padding=100px>
        </div>
    </div>
</body>
