@page
@model Auth.Views.Home.QuizModel
@{
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>




<body>
    <div class="QPQuestions">
        <div class="Question">
            <h2>Quiz</h2>
            <h3>Question <label id="changeQNumber" for="Question_1">1</label></h3>
            <h4><label id="randomBird"></label></h4>
            <h4>Listen to the audio and determine the species. </h4>


            @*<div class="audio-container">
                <div class="track-name">Bird call</div>

                <div class="audio"></div>

                <div class="buttons">
                    <span class="play-btn btn">
                        <i class="fas fa-play"></i>
                        <i class="fas fa-pause"></i>
                    </span>

                    <span class="stop-btn btn">
                        <i class="fas fa-stop"></i>
                    </span>

                    <span class="mute-btn btn">
                        <i class="fas fa-volume-up"></i>
                        <i class="fas fa-volume-mute"></i>
                    </span>

                    <input type="range"
                           min="0"
                           max="1"
                           step="0.1"
                           value="0.5"
                           class="volume-slider" />
                </div>
            </div>*@

            <audio id="idOfMusicElement" controls>
                @*TODO: pass an ID at the end of the URL below. *@
                Your browser does not support the audio element.
            </audio><br>

            <p id="answer"></p>

            @*Code for select list box*@
            <select name="answeroptions" id="12345">
            </select>

            <div class="buttons1">
                <button onclick="getNextQuestion()"><a style="text-decoration: none;">Next ></a></button>
            </div>
            <br><a href="QuizEnd.html"><button type="button" class="buttonsopt" style="margin:10px;">Submit</button></a>


        </div>

    </div>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/QuizDataFetch.js"></script>
</body>

