    <head>
    <link rel="stylesheet" href="./css/style.css">
    <title>Quiz Options</title>
    
</head>
    <body oncontextmenu="return false;">

        <div class="QPage1">
            <h2>Quiz > Options</h2>
            <form name="quizOptions" action="~/Home/Quiz" id="optionsSelector" onsubmit="return compulsoryField()" method="post">
                <ul class="Options">

                    <li>
                        <b>Enter number of questions you wish to answer*:</b> <input type="text" id="compulsoryNumber" name="number">
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <label for="Difficulty"><b>Difficulty:</b></label>
                        <div id="difficultyButtons"></div>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <label for="Order"><b>Select Order:</b></label>
                        <div id="orderButtons"></div>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <label for="Status"><b>Select Status:</b></label>
                        <div id="statusButtons"></div>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        <label for="Habitat"><b>Select Habitat:</b></label>
                        <div id="habitatButtons"></div>

                    </li>

                </ul>
                <h4>*Mandatory field</h4>

                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </form>

        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="~/js/QuizOptions.js"></script>

    </body>
